body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0.5vh;
  border-radius: 2vh;
}
::-webkit-scrollbar-track {
  background: rgb(97, 97, 97);
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  width: 110vh;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  font-family: "Roboto", sans-serif;
  display: flex;
  opacity: 1;
  transition: all 0.3s;

  .view {
    height: 100%;
    width: 80%;
    position: relative;

    .title {
      width: 100%;
      font-size: 2.3vh;
      color: white;
      text-align: center;
      margin: 1.5vh 0;
      margin-bottom: 2vh;

      span {
        color: #7316ff;
      }
    }
  }
}
